<%- include('../_partial/_header1.ejs'); %>
      <link rel="stylesheet" href="/css/auth_style.css" type="text/css"/> 
<%- include('../_partial/_header2.ejs'); %>

<main>

    <div class="Auth-box">
        <h3>Sign in</h3>

        <form action="/signin" method="post">
            
            <ul class="Auth-Input">
                <div class="user-box">
                    <li><input type="text" name="name" placeholder="Name"></li>
                    <li><input type="password" name="password" placeholder="Password"></li>
                </div>
                <div class="submit-box">
                    <li><input type="submit" class="submit-box"></li>
                </div>
                <a href="/login">Already have a account?</a>    
            </ul>

        </form>

    </div>
    <ul>

</main>


<%- include('../_partial/_footer.ejs'); %>