
<%- include('../_partial/_header1.ejs'); %>
<link rel="stylesheet" href="/css/watchlist_style.css" type="text/css"/> 
<%- include('../_partial/_header2Auth.ejs'); %>

<main>

    <br>

    <div class="profile-container">
        <h2>Your Watchlist</h2>

    </div>
        
    <br>
    
</main>

<%- include('../_partial/_footer.ejs'); %>