
<%- include('./_partial/_header1.ejs'); %>
      <link rel="stylesheet" href="/css/critics_style.css" type="text/css"/> 
<%- include('./_partial/_header2.ejs'); %>

    <main>
      <li class="review-list">

        <div class="review">
          <div class="review-image"></div>
          <div class="review-text">
            <h2>X - A Marca da Morte</h2>
            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
          </div>
        </div>

      </li>
      
    </main>

<%- include('./_partial/_footer.ejs'); %>