
<%- include('./_partial/_header1.ejs'); %>
      <link rel="stylesheet" href="/css/critics_style.css" type="text/css"/> 
<%- include('./_partial/_header2.ejs'); %>

    <main>
      <li class="review-list">
  
        <p>No reviews available at this time :(</p>
          
      </li>
      
    </main>

<%- include('./_partial/_footer.ejs'); %>