<%- include('./_header.ejs'); %>

<main>
    <ul>
      <h1>The Analytic Cinema</h1>
      <h3>The best reviews made by professionals and admirers of the seventh art.</h3>
    </ul>
</main>

<%- include('./_footer.ejs'); %>