<%- include('../_partial/_header1.ejs'); %>
      <link rel="stylesheet" href="/css/style.css" type="text/css"/> 
<%- include('../_partial/_header2Auth.ejs'); %>

<main>
  <div class="home-content">
    <ul>
      <h1>The Analytic Cinema</h1>
      <h3>The best reviews made by professionals of the seventh art.</h3>
      <a href="/criticsAuth"> Check on the newest reviews! →</a>
    </ul>
  </div>
  
</main>

<%- include('../_partial/_footer.ejs'); %>