<%- include('../_partial/_header1.ejs'); %>
      <link rel="stylesheet" href="/css/style.css" type="text/css"/> 
<%- include('../_partial/_header2Auth.ejs'); %>

<main>
    <ul>
      <h1>The Analytic Cinema</h1>
      <h3>The best reviews made by professionals and admirers of the seventh art.</h3>
    </ul>
</main>

<%- include('../_partial/_footer.ejs'); %>