
<%- include('../_partial/_header1.ejs'); %>
<link rel="stylesheet" href="/css/critics_style.css" type="text/css"/> 
<%- include('../_partial/_header2Auth.ejs'); %>

<main>
    <br> 
    <div class="review-container">
        
        <h2>Reviews</h2>

        <br>

        <div class="reviews">
            <a href="/X-movieAuth">
                <img src="img/X-movie.jpg" alt="image">
            </a>
            <a href="/blackadamAuth">
                <img src="img/blackadamn-poster.jpg" alt="image">
            </a>
            <a href="/batmanAuth">
                <img src="img/batman-poster.jpg" alt="image">
            </a>
        </div>
    </div>
    
</main>

<%- include('../_partial/_footer.ejs'); %>