<%- include('../_partial/_header1.ejs'); %>
<link rel="stylesheet" href="/css/review_style.css" type="text/css"/> 
<%- include('../_partial/_header2.ejs'); %>

<main>

    <br>
    
    <div class="review-box">
        <h2>X</h2>
    
        <p>
            Halfway through Ti West’s “X,” a ragtag gang of porno filmmakers, including high-minded director RJ (Owen Campbell) and his shy girlfriend/sound girl Lorraine (Jenna Ortega) face a challenge. Lorraine’s been watching their movie’s stars perform sex acts for the camera all day, and announces, to everyone’s surprise, that she’d like to give it a shot. An annoyed RJ tells Lorraine they’re too far into the story. Adding her in would change their movie’s whole direction.
    
            “What about 'Psycho'?” Lorraine asks, reminding RJ that Hitchcock’s movie introduces a new set of protagonists halfway through. “Psycho” is horror, RJ says, and they’re not making a horror film. They’re making porn. Of course, our characters are about to learn they are part of a horror picture. They just happen to be living it, not making it.
    
            This scene and its mounting meta-commentary describe "X"'s reason for being in a nutshell: it’s an icky good time that's primarily a love letter to the filmmaking process. Structural shifts and tonal sleight-of-hand are part of its self-referential approach. "X" is a clever formal experiment, but one that plays like a feature-length joke for horror fans and filmmakers rather than offering a distinct perspective. West conjures nasty fun with a genre enthusiast’s expertise and then doesn't offer much beyond that.
    
            The grist for this gory, sexy mill comes in the form of would-be adult film empresario Wayne (Martin Henderson), his girlfriend Maxine (Mia Goth), burlesque dancer Bobby-Lynne (Brittany Snow), and Bobby-Lynne’s boyfriend/co-star Jackson (Scott “Kid Cudi” Mescudi), in addition to RJ and Lorraine. It’s 1979, and Wayne has booked the crew space on a farm outside Houston to shoot their movie “The Farmer’s Daughters,” which he expects will be a hit on the emerging home video market.
    
            Wayne’s chosen location is a rickety, creepy cabin owned by Howard (Stephen Ure), an old coot who disapproves of Wayne and his crew. Howard’s invalid wife Pearl, whose impressive casting I won’t reveal, envies the group’s youth and virility, and is particularly drawn to the determined-but-insecure Maxine. Anyone picking up “The Texas Chain Saw Massacre” vibes or making note of RJ and Lorraine’s “Psycho” discussion can see where this is headed. Suffice it to say that as evening descends, the body count rises. 
    
            West delights in the atmosphere of his setting and the historical hallmarks of the lurid sandboxes he’s playing in. His knowledge and humor is evident in Maxine’s Linda Lovelace-inspired hair and makeup, the swampy, sweaty heat of the film’s coastal Texas locale, and Jackson’s baby-blue leisure suit and perfect afro.
    
            The film crew’s “let’s-put-on-a-show” ethos highlights the plucky, hard-fought joys of low-budget filmmaking, recalling movies like “Ed Wood” or “Dolemite is My Name.” When the focus switches to out-and-out horror, the source of “X’s” enthusiasm and devotion also changes. Instead of the characters being energized by the ad-hoc creative process, it’s West himself who radiates excitement, nearly becoming an off-camera character as “X” gleefully picks off its filmmaker proxies one by one.
    
            But “X” never goes deeper than these visceral pleasures. There are hints at an even weirder potential storyline, or themes about the commodification of youth and beauty. None of this goes beyond suggestion. Howard and Pearl particularly feel like missed opportunities, plopped into genre stereotypes and ignoring the economic and cultural undercurrents which helped make the Sawyer family of "Texas Chain Saw Massacre" and Norman Bates of "Psycho" so iconic.
    
            “X” is all about having a good time and relishing the hard work, dedication, and satisfaction of independent filmmaking, regardless of genre. That clear joy is admirable, but West’s ode to technical and artistic ingenuity undervalues the context that played a significant role in the success of the movies he so lovingly references. “X” is plenty of fun; it also feels like a trifle that could easily have been much more.
        
            
        </p>
    
        <div class="made-by">
            <p>review made by: https://www.rogerebert.com/reviews/x-movie-review-2022</p>
        </div>
    
        <h3>⭐⭐⭐⭐</h3>
    
    </div>
    
    
    </main>

<%- include('../_partial/_footer.ejs'); %>